    @tailwind base;
    @tailwind components;
    @tailwind utilities;

    .mylist{
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
    
    /* hide scrollbar in #sidenav-2 */
    
    .mylist::-webkit-scrollbar {
        display: none;
    }
    